.logo{
	width: 70%;
	margin-top:20px;
	margin-bottom:20px;
}
.loginbody{
	text-align: center;
}
.errormessage{
	font-size:1em;
	color: red;
}
.titlemenu{
	font-size: 1em;
	font-weight: bold;
	color: #777;
}
table tr,td,th{
	text-align: center;
}
.navsemester li{
	text-align: center;
	border-radius: 2px;
	border:solid 1px #ccc;
}
.panel-heading{
	text-align: center;
}