<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchFoodServlet</servlet-name>
        <servlet-class>Project.int303.servlet.SearchFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>Project.int303.servlet.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Project.int303.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>Project.int303.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Project.int303.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurantServlet</servlet-name>
        <servlet-class>Project.int303.servlet.AddRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>Project.int303.servlet.AddFoodServlet</servlet-class>
        <multipart-config>
            <location>/C:/Users/ยีนส์/Documents/Project/ProjectGroup/web/pic</location>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>FoodServlet</servlet-name>
        <servlet-class>Project.int303.servlet.FoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Project.int303.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>Project.int303.servlet.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>Project.int303.servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchFoodServlet</servlet-name>
        <url-pattern>/SearchFoodServlet</url-pattern>
        <url-pattern>/sfs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
        <url-pattern>/ru</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurantServlet</servlet-name>
        <url-pattern>/AddRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/AddFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodServlet</servlet-name>
        <url-pattern>/Food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
