<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchFoodServlet</servlet-name>
        <servlet-class>Project.int303.servlet.SearchFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>Project.int303.servlet.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Project.int303.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>Project.int303.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchFoodServlet</servlet-name>
        <url-pattern>/SearchFoodServlet</url-pattern>
        <url-pattern>/sfs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
        <url-pattern>/ru</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
</web-app>
